<div class="filtro">
  <input type="text" id="searchInput" placeholder="Busca tu preferencia"/>
      <table>
          <tr>
            <th>Ubicación</th>
          </tr>
          <tr>
            <td>Bogotá</td>
          </tr>
          <tr>
            <td>Medellin</td>
          </tr>
          <tr>
            <td>Cali</td>
          </tr>
          <tr>
            <th>Año</th>
          </tr>
          <tr>
            <td>2023</td>
          </tr>
          <tr>
            <td>2022</td>
          </tr>
          <tr>
            <td>2021</td>
          </tr>
          <tr>
            <th>Desde</th>
          </tr>
          <tr>
            <td>0 - 20000000</td>
          </tr>
          <tr>
            <td>21000000 - 40000000</td>
          </tr>
          <tr>
            <td>41000000 - Más</td>
          </tr>
      </table>
  </div>