.filtro {
    width: 80vw;
    height: 100vh;
    margin: 20px 0;
    float: left;
}

table {
    border-collapse: collapse;
    width: 40%;
    box-shadow: 0 5px 7px gray;
}

th {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
}

td {
    padding: 0.5rem 3rem;
    font-size: 1rem;
}

tr:nth-child(even) {
    background-color: #dee8f5;
}