

.formulariosuscripcion{
    form{
        display: flex;     
        top: 100px;
        left: 35%;
        width: 30%;
        text-align: center;
        margin-bottom: 50px;
        }

        form>input{
            font-size: 22px;
            width: 80%;
            margin-bottom: 20px;
            padding: 15px;
            border-radius: 15px 2px;
            border-color: #FF7900;
        }
        
        form>button{
            background-color: #FF7900;
            color: white;
            padding: 15px;
            width: 50%;
            border-radius: 20%;
            border-color: #FF7900;
            box-shadow: 5px 5px 5px #FF7900;
        }
        
        form>button:hover{
            background-color: black;
            color: #FF7900;
            font-size: 25px;
            width: 40%;
        }
        
    textarea{
        max-width: 80%;
        max-height: 300px;
        min-width: 80%;
        min-height: 100px;
        
        }
    }

    .error{
        font-size: 20px;
        border:2px solid red
    }
    
    form>img{
        width: 50%;
        padding-bottom: 30px;
    }