<footer class="bg-warning text-center text-black">
  <div class="row text-center d-flex justify-content-center pt-3">
    <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!" class="text-white">Información legal</a>
        </h6>
    </div>
    <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!" class="text-white">Políticas de privacidad</a>
        </h6>
    </div>
    <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!" class="text-white">Redes sociales</a>
        </h6>
    </div>
</div>
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center d-flex justify-content-center pt-3">
        <div class="col-md-2">
            <h6 class="text-uppercase font-weight-small">
              <a href="#!" class="text-white">Trabaja con nosotros</a>
            </h6>
        </div>
        <div class="col-md-2">
            <h6 class="text-uppercase font-weight-small">
              <a href="#!" class="text-white">Términos y condiciones</a>
            </h6>
        </div>
        <div class="col-md-2">
            <h6 class="text-uppercase font-weight-small">
              <a href="#!" class="text-white">Cómo cuidamos tu provacidad</a>
            </h6>
        </div>
    </div>
    
    <div class="text-center p-3" style="background-color: yellow">
      © 2023 Derechos reservados Clase Boostrap Cedinsi
      <a class="text-white" href="#">Manuel Eduardo Martín</a>
    </div>
    
    <!-- Copyright -->
  </footer>