<div class="card" *ngFor="let vh of vehiculos">
    <img class="card-img-top" src="../../assets/images/auto-logan.jpg" alt="Renault Logan Familiar">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{vh.titulo}}</li>
      <li class="list-group-item">{{vh.precio}}</li>
      <li class="list-group-item">{{vh.kilometraje}}</li>
      <li class="list-group-item">{{vh.modelo}}</li>
      <li class="list-group-item">{{vh.ubicacion}}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Ver más</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/images/auto-logan.jpg" alt="Renault Logan Familiar">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Mazda 6</li>
      <li class="list-group-item">$60.000.000</li>
      <li class="list-group-item">50.000 km</li>
      <li class="list-group-item">2020</li>
      <li class="list-group-item">Bogotá</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Ver más</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/images/auto-logan.jpg" alt="Renault Logan Familiar">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Toyota Fortuner</li>
      <li class="list-group-item">$80.000.000</li>
      <li class="list-group-item">45.000 km</li>
      <li class="list-group-item">2021</li>
      <li class="list-group-item">Bogotá</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Ver más</a>
    </div>
  </div>

